html,
body {
  height: 100dvh;
  margin: 0;
  scroll-behavior: smooth;
}

.moveText {
  position: absolute;
  right: 275px;
  top: 5.9%;
  z-index: 1;
}

.move-button {
  padding: .3em 2.2em .3em 2.2em;
  background-color: rgb(55, 55, 55);
  font-size: 20px;
  color: #fef3f3;
  border: none;
  /* box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742); */
  transition: .7s;
  z-index: 1;
  /* margin-right: 20px; */
}

.playBox {
  position: absolute;
  right: 147px;
  top: 5.9%;
  z-index: 1;
}

.play-button {
  padding: .3em 2.3em .3em 2.3em;
  background-color: rgb(55, 55, 55);
  font-size: 20px;
  color: #fef3f3;
  border: none;
  /* box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742); */
  transition: .7s;
  z-index: 1;
  /* margin-right: 20px; */
}

.donate {
  position: absolute;
  right: 20px;
  top: 5.9%;
  z-index: 1;
}

.donate-button {
  padding: .60em 2em .58em 2em;
  background-color: rgb(28, 28, 28);
  font-size: 20px;
  color: rgb(254, 243, 243);
  border: none;
  /* box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742); */
  transition: .7s;
  z-index: 1;
  /* margin-right: 20px; */
}

.proceed-btn {
  padding: .7em 2em .7em 2em;
  background-color: rgb(249, 248, 248);
  font-size: 20px;
  color: rgb(17, 17, 17);
  border: none;
  box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742);
  /* transition: .7s; */
  margin-left: 10px;
  margin-bottom: 10px;
}

.meherdevs {
  color: rgb(231, 227, 220);
  text-align: center;
  transition: 1s ease-in-out;
}

.meherdevs p {
  font-size: 18px;
  padding: .1em;
}



.meherdevs:hover {
  color: #eebdf9;
}

.move-button:hover {
  background-color: rgb(254, 208, 56);
}

.play-button:hover {
  background-color: hwb(117 35% 18%);
}

.donate-button:hover {
  background-color: #fc077d;
}

.proceed-btn:hover {
  background-color: hwb(300 57% 0%);
  outline: none;
}

@media only screen and (max-width: 560px) {
  .moveText {
    right: 210px;
    top: 8%;
  }

  .move-button {
    padding: .3rem 1.5rem .3rem 1.5rem;
  }

  .playBox {
    right: 120px;
    top: 8%;
  }

  .play-button {
    padding: .3rem 1.5rem .3rem 1.5rem;
  }

  .donate {
    right: 20px;
    top: 8%;
  }

  .donate-button {
    padding: .7rem 1.5rem .7rem 1.5rem;
  }
}

@media only screen and (max-width: 410px) {
  .moveText {
    top: 8%;
  }

  .playBox {
    top: 8%;
  }

  .donate {
    top: 8%;
  }
}