html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url(./assests/90sUni.png);
  background-size: contain;
  /* height: 100%; */
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homeBanner1 {
  background-image: url(./assests/trapKeep1.png);
  background-size: cover;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  color: rgb(254, 252, 252);
  padding: .5em;
  font-size: 58px;
  font-family: 'Londrina Solid', sans-serif;
  background-color: rgb(7, 7, 7);
  text-align: center;
}

.donate {
  position: fixed;
  right: 30px;
  bottom: 120px;
  z-index: 1;
}

.donate-button {
  padding: 1em;
  background-color: white;
  font-family: 'Bakbak One', sans-serif;
  font-size: 18px;
  color: black;
  border: none;
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.65);
  transition: .7s;
  z-index: 1;
  margin-right: 20px;

}

.toTop {
  position: fixed;
  right: 50px;
  bottom: 200px;
  z-index: 1;
}

.toTop-button {
  padding: .7em;
  background-color: hotpink;
  font-family: 'Bakbak One', sans-serif;
  color: black;
  border: none;
  box-shadow: 0 17px 20px rgba(0, 0, 0, 0.65);
  transition: .5s ease-in-out;
  z-index: 1;
  border-radius: 100%;
}

h2 {
  color: honeydew;
  padding: .3em;
  font-size: 78px;
  font-family: 'Bakbak One', sans-serif;
  background-color: rgb(10, 10, 11);
  text-align: center;
}

.about {
  font-family: 'Bakbak One', sans-serif;
  font-size: 30px;
  background-color: ivory;
  color: black;
  text-align: left;
  padding: 30px;
}

.player {
  margin-bottom: 10em;
}

.hb {
  background-size: cover;
  min-width: 100%;
  min-height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0em;
}

.homeBanner2 {
  background-image: url(./assests/fulljag.png);
}

.homeBanner3 {
  background-image: url(./assests/klee.png);
}

.homeBanner4 {
  background-image: url(./assests/temporal.png);
}

.homeBanner5 {
  background-image: url(./assests/beach.png);
}

.homeBanner5 .about {
  max-width: 500px;
}

.homeBanner5 .about span {
  font-size: 30px;
  color: rgb(14, 168, 124);
}

.homeBanner6 {
  background-image: url(./assests/love.png);
}

.homeBanner7 {
  background-image: url(./assests/jaguar.png);
}

.box {
  display: flex;
  justify-content: center;
}

.meherdevs {
  text-align: center;
  position: relative;
  color: aliceblue;
  font-size: 30px;
  margin-bottom: 2em;
}

.meherdevs:hover {
  color: hotpink;
}

.toTop-button:hover {
  background-color: gold;
}

.donate-button:hover {
  background-color: greenyellow;
}

@media only screen and (max-width: 460px) {

.donate {
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 1;
  }

  .donate-button {
    padding: 1em;
    margin-right: 10px;

  }

  .toTop {
    position: fixed;
    right: 20px;
    bottom: 120px;
    z-index: 1;
  }  

  .homeBanner2,
  .homeBanner3,
  .homeBanner4 {
    min-height: 100%;

  }

  h2 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .about {
    padding-top: 0;
  }

}