html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.moveText {
  position: absolute;
  right: 20px;
  bottom: 13.5%;
  z-index: 1;
}

.move-button {
  padding: .3em 2.2em .3em 2.2em;
  background-color: rgb(55, 55, 55);
  font-size: 20px;
  color: #fef3f3;
  border: none;
  box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742);
  transition: .7s;
  z-index: 1;
  /* margin-right: 20px; */
}

.playBox {
  position: absolute;
  right: 20px;
  bottom: 7%;
  z-index: 1;
}

.play-button {
  padding: .3em 2.2em .3em 2.2em;
  background-color: rgb(55, 55, 55);
  font-size: 20px;
  color: #fef3f3;
  border: none;
  box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742);
  transition: .7s;
  z-index: 1;
  /* margin-right: 20px; */
}

.donate {
  position: absolute;
  right: 20px;
  bottom: 0%;
  z-index: 1;
}

.donate-button {
  padding: .7em 2em .7em 2em;
  background-color: rgb(28, 28, 28);
  font-size: 20px;
  color: rgb(254, 243, 243);
  border: none;
  box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742);
  transition: .7s;
  z-index: 1;
  /* margin-right: 20px; */
}

.proceed-btn {
  padding: .7em 2em .7em 2em;
  background-color: rgb(249, 248, 248);
  font-size: 20px;
  color: rgb(17, 17, 17);
  border: none;
  box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.742);
  transition: .7s;
  margin-left: 10px;
  margin-bottom: 10px;
}

.meherdevs {
  color: rgb(231, 227, 220);
  text-align: center;
  transition: 1s ease-in-out;
}

.meherdevs p {
  font-size: 18px;
  padding: .1em;
}



.meherdevs:hover {
  color: #eebdf9;
}

.move-button:hover {
  background-color: rgb(90, 83, 83);
}

.play-button:hover {
  background-color: rgb(170, 95, 140);
}

.donate-button:hover {
  background-color: #3c5241;
}

.proceed-btn:hover {
  background-color: rgb(239, 207, 77);
}

@media only screen and (max-width: 560px) {
  .moveText {
    right: 20px;
    bottom: 7.5%;
  }

  .playBox {
    right: 20px;
    bottom: .5%;
  }

  .donate {
    right: 20px;
    bottom: -7%;
  }
}