html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url(./assests/90sUni.png);
  background-size: auto;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hb {
  background-size: cover;
  min-width: 100%;
  min-height: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.homeBanner1 {
  background-image: url(./assests/trapKeep1.png);
  background-size: cover;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  color: rgb(254, 252, 252);
  padding: .5em;
  font-size: 58px;
  font-family: 'Londrina Solid', sans-serif;
  background-color: rgb(7, 7, 7);
  text-align: center;
}

.toTop {
  position: fixed;
  right: 40px;
  bottom: 140px;
  z-index: 1;
}

.toTop-button {
  padding: .7em;
  background-color: hotpink;
  font-family: 'Bakbak One', sans-serif;
  color: black;
  border: none;
  box-shadow: -4px 5px black;
  transition: .5s ease-in-out;
  z-index: 1;
}

.donate {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 1;
}

.donate-button {
  padding: .7em;
  background-color: white;
  font-family: 'Bakbak One', sans-serif;
  font-size: 28px;
  color: black;
  border: none;
  box-shadow: -4px 5px black;
  transition: .7s;
  z-index: 1;
  margin-right: 20px;

}

h2 {
  color: honeydew;
  padding: .3em;
  font-size: 78px;
  font-family: 'Bakbak One', sans-serif;
  background-color: rgb(10, 10, 11);
  text-align: center;
}

.about {
  font-family: 'Bakbak One', sans-serif;
  font-size: 33px;
  background-color: ivory;
  color: black;
  text-align: left;
  padding: 30px;
  max-width: 400px;
}

.player {
  margin-bottom: 10em;
}

.homeBanner2 {
  background-image: url(./assests/fulljag.png);
}

.homeBanner3 {
  background-image: url(./assests/klee.png);
}

.homeBanner4 {
  background-image: url(./assests/temporal.png);
}

.homeBanner5 {
  background-image: url(./assests/lisaf.png);
}


.homeBanner3 .about {
  font-size: 42px;
  text-align: center;
}

.homeBanner5 .about {
  max-width: 500px;
  margin-top: 3em;
}

.homeBanner5 .about span {
  color: rgb(150, 14, 168);
}

.homeBanner6 {
  background-image: url(./assests/90sjag.png);
}

.homeBanner7 {
  background-image: url(./assests/flowers.png);
}

.homeBanner8 {
  background-image: url(./assests/Burgers.png);
}

.box {
  display: flex;
  justify-content: center;
}

.meherdevs {
  text-align: center;
  position: relative;
  color: aliceblue;
  background-color: black;
  padding: .3em;
  font-size: 28px;
  font-family: 'Londrina Solid', sans-serif;
  margin-bottom: 9em;
}

.meherdevs:hover {
  color: greenyellow;
}

.toTop-button:hover {
  background-color: gold;
}

.donate-button:hover {
  background-color: greenyellow;
}

@media only screen and (max-width: 760px) {

  .donate {
    position: fixed;
    right: 10px;
    bottom: 40px;
    z-index: 1;
  }

  .donate-button {
    padding: 1em;
    margin-right: 10px;

  }

  .toTop {
    position: fixed;
    right: 20px;
    bottom: 120px;
    z-index: 1;
  }

  .hb {
    min-height: 500px;
    padding-bottom: 12em;

  }

  .hb h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .about {
    font-size: 23px;
  }

}